body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
  padding: 12px;
  border-radius: 4px;
  height: 48px;
  border: none;
}

.btn {
  display: block;
  position: relative;
  overflow: hidden;
  outline: none;
  min-width: 192px;
  text-align: left;
  background-color: #FD8D00;
  transform-style: preserve-3d;
  transform: translateZ(0);
}

.btn-swiper {
  position: absolute;
  top: 0;
  left: -202px;
  fill:#157723;
}

.btn-icon {
  font-size: 14px;
  color: #FAFAFA;
  margin-right: 12px;
  position: relative;
}
.btn-icon .fa {
  text-align: center;
  width: 24px;
}

.btn-label {
  color: #FAFAFA;
  display: inline-block;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
}

.btn:hover .btn-swiper {
  transform: translateX(56px);
}
.btn:hover .btn-label {
  transform: translateX(12px);
}
.btn:hover .btn-icon {
  color:#23C54F;
}

.btn-swiper {
  transition: transform 100ms ease;
  -webkit-transition: transform 100ms ease;
	   -moz-transition: transform 100ms ease;
	     -o-transition: transform 100ms ease;
}

.btn-icon {
  transition: colour 100ms 50ms ease;
  -webkit-transition: colour 100ms 50ms ease;
	   -moz-transition: colour 100ms 50ms ease;
	     -o-transition: colour 100ms 50ms ease;
}

.btn-icon .fa {
  transition: transform 4000ms ease;
  -webkit-transition: transform 4000ms ease;
	   -moz-transition: transform 4000ms ease;
	     -o-transition: transform 4000ms ease;
}

.btn-label {
  transition: transform 100ms ease, colour 100ms ease;
  -webkit-transition: transform 100ms ease, colour 100ms ease;
	   -moz-transition: transform 100ms ease, colour 100ms ease;
	     -o-transition: transform 100ms ease, colour 100ms ease;
}

.btn.loading .btn-swiper,
.btn.loaded .btn-swiper {
  transform: translateX(202px);
}
.btn.loading .btn-label,
.btn.loading .btn-icon,
.btn.loaded .btn-label,
.btn.loaded .btn-icon {
  color: #fff;
}
.btn.loading .btn-label,
.btn.loaded .btn-label {
  transform: translateX(0px);
}

.btn.loading .fa {
  animation: jelly 1000ms alternate both;
}
.btn.loading .fa:before {
  content: "\f110";
}

.btn.loaded .fa {
  animation: jelly 1000ms linear both;
}
.btn.loaded .fa:before {
  content: "\f00c";
}

